<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Screen</title>
</head>
<body>
    <div class="homecontainer">
        <h1>Home Screen</h1>
        <a href="/residents" class="button">Search</a>
        <a href="/add" class="button">Create New</a>
        <a href="/analytics" class="button">View Analytics</a>
        <a href="/">Back</a>
    </div>
</body>
</html>
