<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barangay Indigency Certificates</title>
</head>
    <body>
        <div class="tablecontainer">
        <h1>Barangay Indigency Certificates</h1>
        <a href="/add">Add Resident</a>
        <table border="1">
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Occupation</th>
                <th>Purpose</th>
                <th>Actions</th>
            </tr>
            {% for resident in residents %}
            <tr>
                <td>{{ resident.full_name }}</td>
                <td>{{ resident.address }}</td>
                <td>{{ resident.occupation }}</td>
                <td>{{ resident.purpose }}</td>
                <td class="actions">
                    <a href="/generate/{{ resident.id }}">Generate Certificate</a> |
                    <a href="/delete/{{ resident.id }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>
